main{
  display: flex;
  min-height: 100vb;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90vw;
  margin: 5rem auto;
  background-color: aliceblue;
  border-radius: 0.25rem;
  padding: 2rem 2rem;
  max-width: 920px;
}


.btn{
  background:#000000;
  border: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  
}
.content{
  width: 800px;
  padding: 1rem 1.5rem;
  border: 2px solid #eee;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}